.wrap {
  max-width: unset; // undoing core default
}

#main-outlet-wrapper {
  grid-template-columns: 1fr auto 1fr;
  gap: 2em;
  padding: 0;

  body.has-sidebar-page & {
    grid-template-columns: 1fr auto 1fr; // overriding core
    .sidebar-wrapper {
      width: var(--d-sidebar-width);
    }
  }

  .sidebar-container {
    background: var(
      --primary-very-low
    ); // need to move background color for new behavior
  }

  .sidebar-wrapper {
    background: transparent; // remove old bg color location
  }

  #main-outlet {
    margin: 0 auto;
    max-width: var(--d-max-width);
    width: 100%;
  }
}

#main-outlet > .regular {
  max-width: var(--d-max-width);
  margin: 0 auto;
  display: flex; // forces the container to occupy available width
  flex-wrap: wrap;

  .suggested-topics-wrapper,
  .container.posts {
    width: 100%; // full width elements, to avoid wrap
  }
  body.has-sidebar-page & {
    margin: 0 auto;
  }
}

.d-header {
  > .wrap {
    .contents {
      display: grid;
      grid-template-areas: "toggle logo lspace extra-info rspace panel";
      grid-template-columns:
        auto
        auto
        1fr
        minmax(0, 1110px)
        1fr
        auto;
      gap: 0;
    }
  }
  .title {
    min-width: 0;
    margin-right: 1em;
  }
  .panel {
    grid-area: panel;
  }
}

.extra-info-wrapper {
  grid-area: extra-info;
  max-width: var(--d-max-width);
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto 0 2.5em;
}

.header-contents__logo-and-toggle {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

body.has-sidebar-page {
  .wrap {
    max-width: unset;
  }
}

body.sidebar-animate {
  #main-outlet-wrapper {
    transition: none;
  }
  .d-header-wrap .wrap {
    transition: none;
  }
}
