.wrap {
  max-width: unset; // undoing core default
}

#main-outlet-wrapper {
  grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr;

  gap: 2em;
  padding: 0;

  body.has-sidebar-page & {
    grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr; // overriding core
    .sidebar-wrapper {
      width: var(--d-sidebar-width);
    }
  }

  .sidebar-container {
    border-right: 1px solid var(--primary-low);
    background: transparent; // need to move background color for new behavior
  }

  .sidebar-wrapper {
    background: transparent; // remove old bg color location
  }

  #main-outlet {
    margin: 0 auto;
    max-width: var(--d-max-width);
    width: 100%;
  }
}

#main-outlet > .regular {
  max-width: var(--d-max-width);
  margin: 0 auto;

  body.has-sidebar-page & {
    margin: 0 auto;
  }
}

.d-header {
  > .wrap {
    .contents {
      display: grid;
      grid-template-areas: "toggle logo lspace extra-info rspace panel";
      grid-template-columns:
        auto
        auto
        1fr
        minmax(0, var(--d-max-width))
        1fr
        auto;
      .has-sidebar-page & {
        grid-template-columns:
          auto
          173px
          0
          1fr
          auto;
        @media screen and (min-width: 1645px) {
          grid-template-columns:
            auto
            173px
            1fr
            minmax(0, var(--d-max-width))
            1fr
            auto;
        }
      }
      gap: 0;
    }
  }
  .header-sidebar-toggle {
    grid-area: toggle;
  }
  .title {
    grid-area: logo;
    margin-right: 1em;
  }
  .panel {
    grid-area: panel;
  }
}

.extra-info-wrapper {
  grid-area: extra-info;
  max-width: var(--d-max-width);
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 0 1em;
  margin: 0 auto;
  .has-sidebar-page & {
    padding: 0 0 0 0.9em;
    margin-left: 1.2em;
    width: calc(100% - 1.2em);

    @media screen and (min-width: 1645px) {
      margin-left: -3.85em;
    }
  }
}

body.has-sidebar-page {
  .wrap {
    max-width: unset;
  }
}

body.sidebar-animate {
  #main-outlet-wrapper {
    transition: none;
  }
  .d-header-wrap .wrap {
    transition: none;
  }
}

// some more opinionated style

.sidebar-wrapper {
  --d-sidebar-highlight-color: var(--highlight-medium);
}

.sidebar-section-link-wrapper .sidebar-section-link {
  color: var(--primary-700);
  &:hover,
  &:focus {
    background: var(--highlight-medium);
  }
  &.active {
    background: var(--tertiary-low);
    color: var(--primary-700);
  }
}

.sidebar-section-header-button {
  &:hover,
  &:focus {
    background: var(--tertiary) !important;
  }
}
