.wrap {
  max-width: unset; // undoing core default
}

.d-header #site-logo {
  // constraining the logo to fit its grid container
  // this prevents the logo from shifting header content
  // when the sidebar is opened
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; // contains logo without squishing/stretching
}

#main-outlet-wrapper {
  grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr;
  gap: 2em;
  padding: 0;

  body.has-sidebar-page & {
    grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr; // overriding core
    .sidebar-wrapper {
      width: var(--d-sidebar-width);
    }
  }

  body.has-full-page-chat & {
    grid-template-columns: min-content;
    gap: 0;
  }

  .sidebar-wrapper {
    width: 100%; // safari has issues without this
  }

  #main-outlet {
    margin: 0 auto;
    max-width: var(--d-max-width);
    width: 100%;

    body.has-full-page-chat & {
      max-width: unset;
    }
  }
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat {
  border: none;
}

#main-outlet > .regular {
  max-width: var(--d-max-width);
  margin: 0 auto;

  body.has-sidebar-page & {
    margin: 0 auto;
  }
}

.d-header {
  > .wrap {
    .contents {
      display: grid;
      grid-template-areas: "logo lspace extra-info rspace panel";
      grid-template-columns:
        auto
        1fr
        minmax(0, calc(var(--d-max-width) - 2em))
        1fr
        auto;
      .d-header-mode {
        grid-area: lspace;
        white-space: nowrap;
        @include breakpoint("tablet") {
          display: none;
        }
      }

      .has-sidebar-page & {
        grid-template-columns:
          calc(var(--d-sidebar-width) - 11px) // 11px is wrap padding
          1fr
          minmax(0, calc(var(--d-max-width) + 7.15em))
          1fr
          auto;
        gap: 1em;
        @media screen and (max-width: 1000px) {
          gap: 0.5em;
        }
        .d-header-mode {
          grid-area: extra-info;
        }
      }
    }
  }
  .header-sidebar-toggle {
    grid-area: logo;
  }
  .before-header-panel-outlet {
    grid-area: extra-info;
  }
  .d-header-mode {
    .bootstrap-mode {
      margin: 0;
    }
  }
  .title {
    grid-area: logo;
    margin-left: 3.7em; // 2.7em hamburger width + 1em for margin
    min-width: 0;
    margin-right: 0.725em;
    a {
      min-width: 0;
    }
  }
  .panel {
    grid-area: panel;
  }
}

.extra-info-wrapper {
  grid-area: extra-info;
  max-width: var(--d-max-width);
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

body.has-sidebar-page {
  .wrap {
    max-width: unset; // undoing core default
  }

  .d-header-mode,
  .extra-info-wrapper {
    padding: 0;
  }

  @media screen and (min-width: calc($reply-area-max-width + (17em * 2))) {
    #reply-control.show-preview {
      margin-left: auto;
      margin-right: auto;
    }
    .sidebar-container {
      height: auto;
    }
  }

  @media screen and (max-width: calc($reply-area-max-width + (17em * 2))) and (min-width: calc($reply-area-max-width + calc(17em / 2))) {
    #reply-control {
      margin-left: 17em;
      width: auto;
    }
    .sidebar-container {
      height: auto;
    }
  }
}

body.sidebar-animate {
  #main-outlet-wrapper {
    transition: none;
  }
  .d-header-wrap .wrap {
    transition: none;
  }
}

.d-header-icons {
  display: flex;
}
