.wrap {
  max-width: unset; // undoing core default
}

#main-outlet-wrapper {
  grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr;

  gap: 2em;
  padding: 0;

  body.has-sidebar-page & {
    grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr; // overriding core

    .sidebar-wrapper {
      width: var(--d-sidebar-width);
    }
  }

  .sidebar-container {
    background: var(
      --primary-very-low
    ); // need to move background color for new behavior
  }

  .sidebar-wrapper {
    width: 100%; // safari has issues without this
    background: transparent; // remove old bg color location
  }

  #main-outlet {
    margin: 0 auto;
    max-width: var(--d-max-width);
    width: 100%;
  }
}

#main-outlet > .regular {
  max-width: var(--d-max-width);
  margin: 0 auto;

  body.has-sidebar-page & {
    margin: 0 auto;
  }
}

.d-header {
  .header-contents__toggle-and-logo {
    display: flex;
    align-items: center;
  }
  > .wrap {
    .contents {
      display: grid;
      grid-template-areas: "toggle lspace extra-info rspace panel";
      grid-template-columns:
        auto
        1fr
        minmax(0, calc(var(--d-max-width) - 1em))
        1fr
        auto;
      gap: 0;

      .has-sidebar-page & {
        grid-template-columns:
          calc(var(--d-sidebar-width) - 11px) // 11px is wrap padding
          1fr
          minmax(0, calc(var(--d-max-width) + 7.25em))
          1fr
          auto;
        gap: 1em;
      }
    }
  }
  .title {
    min-width: 0;
    margin-right: 0.725em;
  }
  .panel {
    grid-area: panel;
  }
}

.extra-info-wrapper {
  grid-area: extra-info;
  max-width: var(--d-max-width);
  width: 100%;
  box-sizing: border-box;
}

body.has-sidebar-page {
  .wrap {
    max-width: unset;
  }
}

body.sidebar-animate {
  #main-outlet-wrapper {
    transition: none;
  }
  .d-header-wrap .wrap {
    transition: none;
  }
}

.d-header-icons {
  display: flex;
}
