.wrap {
  max-width: unset; // undoing core default
}

.d-header #site-logo {
  // constraining the logo to fit its grid container
  // this prevents the logo from shifting header content
  // when the sidebar is opened
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; // contains logo without squishing/stretching
}

#main-outlet-wrapper {
  grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr;
  gap: 2em;
  padding: 0;

  body.has-sidebar-page & {
    grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr; // overriding core

    .sidebar-wrapper {
      width: var(--d-sidebar-width);
    }
  }

  body.has-full-page-chat & {
    grid-template-columns: min-content;
    gap: 0;
  }

  .sidebar-wrapper {
    width: 100%; // safari has issues without this
  }

  #main-outlet {
    margin: 0 auto;
    max-width: var(--d-max-width);
    width: 100%;

    body.has-full-page-chat & {
      max-width: unset;
    }
  }
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat {
  border: none;
}

#main-outlet > .regular {
  max-width: var(--d-max-width);
  margin: 0 auto;

  body.has-sidebar-page & {
    margin: 0 auto;
  }
}

.d-header {
  .header-contents__toggle-and-logo {
    display: flex;
    align-items: center;
    min-width: 0;
  }
  > .wrap {
    .contents {
      display: grid;
      grid-template-areas: "toggle lspace extra-info rspace panel";
      grid-template-columns:
        calc(var(--d-sidebar-width) - 11px) // 11px is wrap padding
        1fr
        minmax(0, calc(var(--d-max-width) + 7.25em))
        1fr
        auto;
      gap: 0;

      .has-sidebar-page & {
        grid-template-columns:
          calc(var(--d-sidebar-width) - 11px) // 11px is wrap padding
          1fr
          minmax(0, calc(var(--d-max-width) + 7.25em))
          1fr
          auto;
        gap: 1em;
      }
    }
  }
  .title {
    min-width: 0;
    margin-right: 0.725em;
    a {
      min-width: 0;
    }
  }
  .panel {
    grid-area: panel;
  }
}

body:not(.has-sidebar-page) {
  .d-header {
    > .wrap {
      .contents {
        &.header-title-docked {
          @media screen and (max-width: 1360px) {
            grid-template-columns:
              auto
              1fr
              minmax(0, calc(var(--d-max-width) + 7.25em))
              1fr
              auto;
          }

          grid-template-columns:
            auto
            1fr
            minmax(0, calc(var(--d-max-width) + -0.9em))
            // -.8em varies a little for logo vs home icon... consider making those the same size
            1fr
            auto;
          gap: 0;
        }
      }
    }
  }
}

.extra-info-wrapper {
  grid-area: extra-info;
  max-width: var(--d-max-width);
  width: 100%;
  box-sizing: border-box;
  padding-right: 0;
}

body.has-sidebar-page {
  .wrap {
    max-width: unset;
  }

  @media screen and (min-width: $reply-area-max-width) {
    #reply-control {
      max-width: calc(100vw - (100vw - 100%) - var(--d-sidebar-width) - 2rem);
      margin-right: 1rem;
    }

    .sidebar-container {
      height: auto;
    }
  }
}

body.sidebar-animate {
  #main-outlet-wrapper {
    transition: none;
  }
  .d-header-wrap .wrap {
    transition: none;
  }
}

.d-header-icons {
  display: flex;
}
