.wrap {
  max-width: unset; // undoing core default
}

.d-header #site-logo {
  // constraining the logo to fit its grid container
  // this prevents the logo from shifting header content
  // when the sidebar is opened
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; // contains logo without squishing/stretching
}

#main-outlet-wrapper {
  grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr;

  gap: 2em;
  padding: 0;

  body.has-sidebar-page & {
    grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr; // overriding core

    .sidebar-wrapper {
      width: var(--d-sidebar-width);
    }
  }

  .sidebar-container {
    background: var(
      --primary-very-low
    ); // need to move background color for new behavior
  }

  .sidebar-wrapper {
    width: 100%; // safari has issues without this
    background: transparent; // remove old bg color location
  }

  #main-outlet {
    margin: 0 auto;
    max-width: var(--d-max-width);
    width: 100%;
  }
}

#main-outlet > .regular {
  max-width: var(--d-max-width);
  margin: 0 auto;

  body.has-sidebar-page & {
    margin: 0 auto;
  }
}

.d-header {
  .header-contents__toggle-and-logo {
    display: flex;
    align-items: center;
    min-width: 0;
  }
  > .wrap {
    .contents {
      display: grid;
      grid-template-areas: "toggle lspace extra-info rspace panel";
      grid-template-columns:
        calc(var(--d-sidebar-width) - 11px) // 11px is wrap padding
        1fr
        minmax(0, calc(var(--d-max-width) + 7.25em))
        1fr
        auto;
      gap: 0;

      .has-sidebar-page & {
        grid-template-columns:
          calc(var(--d-sidebar-width) - 11px) // 11px is wrap padding
          1fr
          minmax(0, calc(var(--d-max-width) + 7.25em))
          1fr
          auto;
        gap: 1em;
      }
    }
  }
  .title {
    min-width: 0;
    margin-right: 0.725em;
    a {
      min-width: 0;
    }
  }
  .panel {
    grid-area: panel;
  }
}

body:not(.has-sidebar-page) {
  .d-header {
    > .wrap {
      .contents {
        &.header-title-docked {
          @media screen and (max-width: 1360px) {
            grid-template-columns:
              auto
              1fr
              minmax(0, calc(var(--d-max-width) + 7.25em))
              1fr
              auto;
          }

          grid-template-columns:
            auto
            1fr
            minmax(0, calc(var(--d-max-width) + -0.9em))
            // -.8em varies a little for logo vs home icon... consider making those the same size
            1fr
            auto;
          gap: 0;
        }
      }
    }
  }
}

.extra-info-wrapper {
  grid-area: extra-info;
  max-width: var(--d-max-width);
  width: 100%;
  box-sizing: border-box;
  padding-right: 0;
}

body.has-sidebar-page {
  .wrap {
    max-width: unset;
  }
}

body.sidebar-animate {
  #main-outlet-wrapper {
    transition: none;
  }
  .d-header-wrap .wrap {
    transition: none;
  }
}

.d-header-icons {
  display: flex;
}

@if $full_width_chat == "true" {
  // chat specific styles

  .has-full-page-chat {
    #main-outlet-wrapper {
      #main-outlet {
        max-width: unset;
        grid-column-start: 1;
        grid-column-end: -1; // fill the right column
      }
    }

    &.has-sidebar-page #main-outlet-wrapper {
      #main-outlet {
        grid-column-start: content;
      }
      grid-template-columns: var(--d-sidebar-width) minmax(
          0,
          1fr
        ); // width adjustment
    }
    &:not(.discourse-sidebar) .full-page-chat {
      border-left: none;
      border-right: none;
    }
  }

  @media screen and (min-width: 1500px) {
    // could maybe be a little less, but this is easier to make compatible with the composer
    .chat-drawer-active {
      #main-outlet-wrapper #main-outlet {
        max-width: unset;
      }
      .discourse-root {
        display: grid;
        grid-template-areas: "header header" "content chat" "footer footer";
        grid-template-columns: 1fr auto;
      }
      .d-header-wrap {
        grid-area: header;
      }
      #main-outlet-wrapper {
        grid-area: content;
      }
      .chat-drawer-outlet {
        grid-area: chat;
        position: sticky;
        top: var(--header-offset);
        height: calc(100vh - var(--header-offset));
      }
      .chat-drawer-container {
        border-radius: 0;
      }
      .chat-drawer-outlet-container {
        position: relative;
        max-height: unset;
        height: 100%;
      }
      .chat-drawer-header {
        border-radius: 0;
      }
      .chat-drawer.is-expanded {
        height: 100% !important; // overrides inline style
      }
      .chat-drawer-header__expand-btn {
        display: none;
      }

      &.has-sidebar-page #main-outlet-wrapper {
        grid-template-columns: auto 1fr;
      }

      &.has-sidebar-page .d-header > .wrap .contents {
        grid-template-columns:
          calc(var(--d-sidebar-width) - 11px) 1fr minmax(0, var(--d-max-width))
          1fr 24.5em;
      }

      &:not(.has-sidebar-page) .d-header > .wrap .contents.header-title-docked {
        grid-template-columns: auto auto 1fr auto;
      }
    }
  }
}

// can the composer avoid the sidebar?
// yes, but it's a bit tricky without lots of structural changes

@mixin flatHeader {
  .d-header {
    box-shadow: none;
    border-bottom: 1px solid var(--primary-low);
  }
}

@mixin flatComposer {
  #reply-control {
    border-left: 1px solid var(--primary-low);
    border-right: 1px solid var(--primary-low);
    box-shadow: none;
    min-width: 653px;
  }
}

@mixin drawerWidth {
  .chat-drawer {
    max-width: 638px;
    margin-left: 2em;
    .chat-drawer-container {
      border-top: none;
      box-shadow: none;
    }
  }
}

@mixin drawerHeight {
  .chat-drawer-outlet-container {
    padding-bottom: 0;
  }
}

@mixin sidebarHeight {
  .sidebar-wrapper .sidebar-container {
    height: 100%;
  }
}

@if ($avoid_composer_overlap == "true") {
  :root {
    --full-width-drawer-width: var(
      --custom-drawer-width-composer-margin,
      385px
    );
    --full-width-composer-max-width: calc(
      100vw - var(--d-sidebar-width) - 15px
    );
  }

  // sidebar only
  @media screen and (min-width: 1300px) {
    .has-sidebar-page:not(.chat-drawer-active) {
      @include sidebarHeight();
      @media screen and (max-width: 1950px) {
        @include flatHeader();
        @include flatComposer();
        #reply-control {
          width: calc(100vw - var(--d-sidebar-width));
          max-width: var(--full-width-composer-max-width);
          margin-left: var(--d-sidebar-width);
          margin-right: auto;
          transition: width 0.25s;
        }
      }
    }
  }

  // chat drawer only
  @media screen and (min-width: 1500px) {
    // could maybe be a little less, but this is easier to make compatible with the composer
    .chat-drawer-active:not(.has-sidebar-page) {
      @include drawerWidth();
      @include drawerHeight();
      @media screen and (max-width: 2200px) {
        @include flatHeader();
        @include flatComposer();
        #reply-control {
          width: 100vw;
          max-width: calc(100vw - var(--full-width-drawer-width));
          margin-left: 0;
        }
      }
    }
  }

  // sidebar and chat drawer
  @media screen and (min-width: 1500px) {
    .has-sidebar-page.chat-drawer-active {
      @include sidebarHeight();
      @include drawerWidth();
      @include drawerHeight();

      @media screen and (max-width: 2220px) {
        @include flatHeader();
        @include flatComposer();
        #reply-control {
          width: calc(
            100vw - var(--d-sidebar-width) - var(--full-width-drawer-width)
          );
          max-width: unset;
          margin-left: var(--d-sidebar-width);
          margin-right: var(--full-width-drawer-width);
        }
      }
    }
  }
}
